{{localData.playerState}}

<section class="choices" *ngIf="localData.playerState == 'indice'">
<div class="txt-indice">
    <h2>Indice</h2>
    <p>{{localData.indice}}</p>
</div>
</section>
<section class="choices" *ngIf="localData.playerState == 'choix'">
    <button class="choice1">{{localData.choice1}}</button>
    <button class="choice2">{{localData.choice2}}</button>
    <button class="choice3">{{localData.choice3}}</button>
</section>
<section class="choices" *ngIf="localData.playerState == 'fight'">
    <button class="choice1" (click)="onFight(1)">Attaquer</button>
    <button class="choice2" (click)="onFight(2)">Parer</button>
    <button class="choice3" (click)="onFight(3)">Fuir</button>
</section>
