<div class="modal-content">
    <div class="header">
        <h4 class="title">Inventaire</h4>
    </div>
    <div class="inventory">
        <div class="items" *ngIf="!!(itemInventory)">
            <div class="items" *ngFor="let item of itemInventory; let index = index">
                <button (click)="displayDescription(item.description, index)"> {{ item.name }}</button>
            </div>
        </div>
        <div class="description_inventory">
            <div class="description">
                <h2>Description</h2>
                {{description}}
            </div>
            <div class="button_inventory">
                <button type="button">Equiper</button>
                <button type="button" (click)="activeModal.close('Close click')">Retour</button>
            </div>
        </div>
    </div>
</div>