<div class="modal-content">
    <div class="header">
        <h2 class="title">Inventaire</h2>
    </div>
    <div class="inventory">
        <div class="container-items" *ngIf="(itemInventory)">
            <div class="items" *ngFor="let item of itemInventory; let index = index">
                <div class="btn-items" (click)="displayDescription(item.name, item.description, index)">
                    <img [src]="'../../../../../assets/'+item.image"> 
                    {{item.quantity}}
                </div>
            </div>
        </div>
        <div class="description_inventory">
            <div class="description">
                <h4 *ngIf="!itemName">Description</h4>
                <h4 *ngIf="itemName">{{itemName}}</h4>
                {{description}}
            </div>
            <div class="button_inventory">
                <button (click)="onUse()">Equiper/Utiliser</button>
                <button type="button" (click)="activeModal.close('Close click')">Retour</button>
            </div>
        </div>
    </div>
</div>
<div class="txt"></div>