<section class="victory">
    <div class="container-txt">
        <h2>Bravo vous avez réussi à redistribuer la passion sur terre !</h2>
        <div class="txt">
            Rocky Rambo s'engouffre dans le vaisseau alors qu'il s'apprêtait à décoller. Vous les voyez s'éloigner vers
            les
            cieux, livrant un combat, l'homme contre le vaisseau spatial. Alors, qu'ils atteignent la stratosphère, une
            gigantesque explosion retentit. Vous décidez rapidement de vous approprier ce fait d'arme, son auteur
            s'étant
            vaporisé avec le projet de Bezos. Toute la passion retomba alors sur le monde, inondant ses habitants, les
            terriens. A nouveau, vous êtes un héro, mais nous ne sommes pas dupes.
        </div>
        <app-reset-all></app-reset-all>
    </div>
 
</section>