<div class="modal-content">
    <div class="header">
        <h4 class="title">Amazon.com</h4>
    </div>
    <div class="shop">
        <div class="items">
            <button>Item 1</button>
            <button>Item 2</button>
            <button>Item 3</button>
            <button>Item 4</button>
            <button>Item 5</button>
            <button>Item 6</button>
            <button>Item 7</button>
            <button>Item 8</button>
            <button>Item 9</button>
        </div>
        <div class="description">
            <h2>Description</h2>
        </div>
        <div class="merchant">
            <img class="img-vendor" src="../../../../../assets/bill_murray.png">
            <div class="button_merchant">
                <button type="button">Acheter</button>
                <button type="button" (click)="activeModal.close('Close click')">Retour</button>
            </div>
        </div>
    </div>
</div>