<div class="modal-content">
    <div class="header">
        <h4 class="title">Amazon.com</h4>
    </div>
    <div class="shop">
        <div class="items" *ngIf="!!(itemShop)">
            <div *ngFor="let item of itemShop">
                <button>{{item.name}}</button>
            </div>
        </div>
        <div class="description">
            <h2>Description</h2>
        </div>
        <div class="merchant">
            <img class="img-vendor" src="../../../../../assets/jeff_bezos.png">
            <div class="button_merchant">
                <button type="button">Acheter</button>
                <button type="button" (click)="activeModal.close('Close click')">Retour</button>
            </div>
        </div>
    </div>
</div>