

.modal-content {
    width: 200%;
    height: 105%;
    margin-left: -250px;
    background-color:  rgb(255, 182, 65, 1);
    border: 5px ridge #1bff80bf;
    border-radius: 20px;
}
h2 {
    text-align: center;
    font-size: 1.6em;
}
h4{
    text-align: center;
    font-size: 2em;
}

.shop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;  
    height: 57vh;
    background-color: rgba(37, 37, 37, 0.171);
}
.container-items {
    width: 55%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2%;
    overflow: hidden;
    overflow-y: scroll
}

.merchant{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
}
.description {
    width: 25%;
    height: 92%;
    border: 5px ridge #1bff80bf;
    border-radius: 20px;
    margin-top: 2%;
    padding: 2%;
    font-size: 1.4em;
}
.items {
    width: 30%;
    height: 30%;
    /* border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10px; */
    text-align: center;

}
img{
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.btn-items {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: 5px ridge #1bff80bf;
    border-radius: 20px;
}

.btn-items:hover {
    border: 5px groove #1bff80bf;
    border-radius: 20px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;    

}

.button_merchant {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-items: space-around;
}

.passion {
    text-align: center;
    font-size: 1.8em;
}
#txt{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 182, 65, 0.8);
   
    font-size: 20px;
    text-align: center;
}

button{
    margin-top: 15px;
    width: 95%;
    font-size: 1.4em;
    background-color: rgb(255, 182, 65, 0.8);
    border: 5px ridge #1bff80bf;
    border-radius: 20px;
}

button:hover {
    margin-top: 15px;
    border: 5px groove #1bff80bf;
    border-radius: 20px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;    
 }
 
 ::-webkit-scrollbar {
    width: 7.5px;
}
::-webkit-scrollbar-thumb {
    background-color: #12b85dbf;
    border-radius: 20px;
}