.modal-content {
    width: 200%;
    margin-left: -250px;
}
h2 {
    text-align: center;
    font-size: 25px;
}
h4{
    text-align: center;
}

.shop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;  
    height: 57vh;
    background-color: rgba(37, 37, 37, 0.171);
}
.container-items {
    width: 55%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2%;
    overflow: hidden;
    overflow-y: scroll
}

.merchant{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
}
.description {
    width: 25%;
    height: 92%;
    border: 2px solid black;
    margin-top: 2%;
    padding: 2%
}
.items {
    width: 30%;
    height: 30%;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;

}
img{
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.btn-items {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.items:hover {
    border: 2px solid black;

}

.button_merchant {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
button {
    margin-top: 15px;
    border-radius: 10px;

}
.passion {
    text-align: center;
}
#txt{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(0, 0, 0, 0.322);
    font-size: 20px;
    text-align: center;
}