button{
    width: 90%;
    font-size: 2em;
    background-color: rgb(255, 182, 65, 0.8);
    border: 5px ridge #1bff80bf;
    border-radius: 20px;
}

button:hover {
    border: 5px groove #1bff80bf;
    border-radius: 20px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;    
 }