<section class="fight" *ngIf="!combatFinished">
  <div class="container-fight">
    <div class="combatlog">
      <p>{{combatlog}}</p>
    </div>
    <h2 class="monster-name">Scorpion</h2>
    <div class="health-bar" data-total="100" data-value="100">
      <div id="bar">
        <div id="hit"></div>
      </div>
      <div *ngIf="monster" (change)="changeHPbar()">hp : {{monster.hp}}/100</div>
    </div>
    <div class="img-monster">
      <img src="../../../assets/scorpion1.png" alt="Scorpion">
    </div>
  </div>
</section>

<section class="reward" *ngIf="combatFinished">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Résultat du Combat</h5>
      <p class="card-text">{{combatlog}}</p>
      <a href="#" class="btn btn-primary" (click)="onLeave()">Sortir de l'écran</a>
    </div>
  </div>
</section>