<section class="fight" *ngIf="!combatFinished" [style]="backgroundFight">
  <div class="container-fight" *ngIf="monster">
    <div class="combatlog">
      <p>{{combatlog}}</p>
    </div>
    <h2 class="monster-name">{{monster.name}}</h2>
    <div class="health-bar" data-total="100" data-value="100">
      <div id="monsterBar">
        <div id="hit"></div>
      </div>
      <div *ngIf="monster" (change)="changeHPbar()">hp : {{monster.hp}}/100</div>
    </div>
    <div class="img-monster" *ngIf="monster">
      <img [src]="'../../../assets/'+monster.image" alt="Scorpion">
    </div>
  </div>
</section>

<section class="reward" *ngIf="combatFinished" [style]="backgroundFight">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title">Résultat du Combat</h2>
      <p class="card-text">{{combatlog}}</p>
      <button (click)="onLeave()">Sortir de l'écran</button>
    </div>
  </div>
</section>