h2 {
    font-size: 40px;
}
.fight {
    width: 100%;
    height: 70vh;
}
.container-fight{
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.health-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }
  #monsterBar {
    background: #c54;
    width: 100%;
    height: 10px;
    position: relative;
    
    transition: width .5s linear;
  }

  .reward
  {
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }