.game-bar{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30vh;
    margin-bottom: 0;
    background-color: rgba(26, 26, 26, 0.575);
}
.img-hero{
    width: 20%;
    height: 30vh;

}
.choice {
    width: 50%;
    margin: 0.5%;
}
.options {
    width: 10%;
    margin: 0.5%;
}
.statistics {
    width: 20%;
    margin: 0.5%;
}